<nav class="navbar navbar-expand-lg text-bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <img
                src="assets/pilha-de-livros.png"
                alt="Logo"
                width="50"
                height="50"
            />
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/livro">Livros</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Pesquisar"
                    aria-label="Pesquisar"
                />
                <button class="btn btn-outline-primary" type="submit">
                    Pesquisar
                </button>
            </form>
        </div>
    </div>
</nav>
