<form class="flex flex-col max-w-sm">
    <label for="title" >Título</label>
    <input class="outline-none rounded-sm pl-1 py-2" type="text" name="" id="title" />
    <label for="auto">Autor</label>
    <input class="outline-none rounded-sm pl-1 py-2" type="text" name="" id="autor" />
    <label for="editora">Editora</label>
    <input class="outline-none rounded-sm pl-1 py-2" type="text" name="" id="editora" />
    <label for="anoEdicao">Ano de edição</label>
    <input class="outline-none rounded-sm pl-2 py-2" type="number" name="" id="anoEdicao" />
    <button class="bg-indigo-600 hover:bg-indigo-700 text-white px-4 py-2 rounded-md text-sm font-medium">
        Salvar
    </button>
</form>

