<form class="container">
    <div class="mb-3">
        <label for="tituloInput" class="form-label">Título</label>
        <input type="text" class="form-control"id="tituloInput"/>
    </div>
    <div class="mb-3">
        <label for="autorInput" class="form-label">Autor</label>
        <input type="text" class="form-control"id="autorInput"/>
    </div>
    <div class="mb-3">
        <label for="editoraInput" class="form-label">Editora</label>
        <input type="text" class="form-control"id="editoraInput"/>
    </div>
    <div class="mb-3">
        <label for="anoEdicaoInput" class="form-label">Ano Edição</label>
        <input type="number" min="1500" max="2025" class="form-control"id="anoEdicaoInput"/>
    </div>
    <div class="mb-3">
        <label for="resumoTextarea" class="form-label">Resumo</label>
        <textarea class="form-control" id="resumoTextarea" style="height: 100px"></textarea>
      </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary block">Salvar</button>
    </div>
</form>
